In [3]:
import pandas as pd
import numpy as np

In [4]:
store=pd.read_csv("C:/Users/Administrator/python/Jupiter notebooks/Store.csv",sep=",",header=0,encoding='Latin')

In [17]:
##•How many unique cities are the orders being delivered to.
store.City.unique()

{'Aberdeen',
 'Abilene',
 'Akron',
 'Albuquerque',
 'Alexandria',
 'Allen',
 'Allentown',
 'Altoona',
 'Amarillo',
 'Anaheim',
 'Andover',
 'Ann Arbor',
 'Antioch',
 'Apopka',
 'Apple Valley',
 'Appleton',
 'Arlington',
 'Arlington Heights',
 'Arvada',
 'Asheville',
 'Athens',
 'Atlanta',
 'Atlantic City',
 'Auburn',
 'Aurora',
 'Austin',
 'Avondale',
 'Bakersfield',
 'Baltimore',
 'Bangor',
 'Bartlett',
 'Bayonne',
 'Baytown',
 'Beaumont',
 'Bedford',
 'Belleville',
 'Bellevue',
 'Bellingham',
 'Bethlehem',
 'Beverly',
 'Billings',
 'Bloomington',
 'Boca Raton',
 'Boise',
 'Bolingbrook',
 'Bossier City',
 'Bowling Green',
 'Boynton Beach',
 'Bozeman',
 'Brentwood',
 'Bridgeton',
 'Bristol',
 'Broken Arrow',
 'Broomfield',
 'Brownsville',
 'Bryan',
 'Buffalo',
 'Buffalo Grove',
 'Bullhead City',
 'Burbank',
 'Burlington',
 'Caldwell',
 'Camarillo',
 'Cambridge',
 'Canton',
 'Carlsbad',
 'Carol Stream',
 'Carrollton',
 'Cary',
 'Cedar Hill',
 'Cedar Rapids',
 'Champaign',
 'Chandler',
 'Chapel Hill',
 'Charlotte',
 'Charlottesville',
 'Chattanooga',
 'Chesapeake',
 'Chester',
 'Cheyenne',
 'Chicago',
 'Chico',
 'Chula Vista',
 'Cincinnati',
 'Citrus Heights',
 'Clarksville',
 'Cleveland',
 'Clifton',
 'Clinton',
 'Clovis',
 'Coachella',
 'College Station',
 'Colorado Springs',
 'Columbia',
 'Columbus',
 'Commerce City',
 'Concord',
 'Conroe',
 'Conway',
 'Coon Rapids',
 'Coppell',
 'Coral Gables',
 'Coral Springs',
 'Corpus Christi',
 'Costa Mesa',
 'Cottage Grove',
 'Covington',
 'Cranston',
 'Cuyahoga Falls',
 'Dallas',
 'Danbury',
 'Danville',
 'Davis',
 'Daytona Beach',
 'Dearborn',
 'Dearborn Heights',
 'Decatur',
 'Deer Park',
 'Delray Beach',
 'Deltona',
 'Denver',
 'Des Moines',
 'Des Plaines',
 'Detroit',
 'Dover',
 'Draper',
 'Dublin',
 'Dubuque',
 'Durham',
 'Eagan',
 'East Orange',
 'East Point',
 'Eau Claire',
 'Edinburg',
 'Edmond',
 'Edmonds',
 'El Cajon',
 'El Paso',
 'Elkhart',
 'Elmhurst',
 'Elyria',
 'Encinitas',
 'Englewood',
 'Escondido',
 'Eugene',
 'Evanston',
 'Everett',
 'Fairfield',
 'Fargo',
 'Farmington',
 'Fayetteville',
 'Florence',
 'Fort Collins',
 'Fort Lauderdale',
 'Fort Worth',
 'Frankfort',
 'Franklin',
 'Freeport',
 'Fremont',
 'Fresno',
 'Frisco',
 'Gaithersburg',
 'Garden City',
 'Garland',
 'Gastonia',
 'Georgetown',
 'Gilbert',
 'Gladstone',
 'Glendale',
 'Glenview',
 'Goldsboro',
 'Grand Island',
 'Grand Prairie',
 'Grand Rapids',
 'Grapevine',
 'Great Falls',
 'Greeley',
 'Green Bay',
 'Greensboro',
 'Greenville',
 'Greenwood',
 'Gresham',
 'Grove City',
 'Gulfport',
 'Hackensack',
 'Hagerstown',
 'Haltom City',
 'Hamilton',
 'Hampton',
 'Harlingen',
 'Harrisonburg',
 'Hattiesburg',
 'Helena',
 'Hempstead',
 'Henderson',
 'Hendersonville',
 'Hesperia',
 'Hialeah',
 'Hickory',
 'Highland Park',
 'Hillsboro',
 'Holland',
 'Hollywood',
 'Holyoke',
 'Homestead',
 'Hoover',
 'Hot Springs',
 'Houston',
 'Huntington Beach',
 'Huntsville',
 'Independence',
 'Indianapolis',
 'Inglewood',
 'Iowa City',
 'Irving',
 'Jackson',
 'Jacksonville',
 'Jamestown',
 'Jefferson City',
 'Johnson City',
 'Jonesboro',
 'Jupiter',
 'Keller',
 'Kenner',
 'Kenosha',
 'Kent',
 'Kirkwood',
 'Kissimmee',
 'Knoxville',
 'La Crosse',
 'La Mesa',
 'La Porte',
 'La Quinta',
 'Lafayette',
 'Laguna Niguel',
 'Lake Charles',
 'Lake Elsinore',
 'Lake Forest',
 'Lakeland',
 'Lakeville',
 'Lakewood',
 'Lancaster',
 'Lansing',
 'Laredo',
 'Las Cruces',
 'Las Vegas',
 'Laurel',
 'Lawrence',
 'Lawton',
 'Layton',
 'League City',
 'Lebanon',
 'Lehi',
 'Leominster',
 'Lewiston',
 'Lincoln Park',
 'Linden',
 'Lindenhurst',
 'Little Rock',
 'Littleton',
 'Lodi',
 'Logan',
 'Long Beach',
 'Longmont',
 'Longview',
 'Lorain',
 'Los Angeles',
 'Louisville',
 'Loveland',
 'Lowell',
 'Lubbock',
 'Macon',
 'Madison',
 'Malden',
 'Manchester',
 'Manhattan',
 'Mansfield',
 'Manteca',
 'Maple Grove',
 'Margate',
 'Marietta',
 'Marion',
 'Marlborough',
 'Marysville',
 'Mason',
 'Mcallen',
 'Medford',
 'Medina',
 'Melbourne',
 'Memphis',
 'Mentor',
 'Meriden',
 'Meridian',
 'Mesa',
 'Mesquite',
 'Miami',
 'Middletown',
 'Midland',
 'Milford',
 'Milwaukee',
 'Minneapolis',
 'Miramar',
 'Mishawaka',
 'Mission Viejo',
 'Missoula',
 'Missouri City',
 'Mobile',
 'Modesto',
 'Monroe',
 'Montebello',
 'Montgomery',
 'Moorhead',
 'Moreno Valley',
 'Morgan Hill',
 'Morristown',
 'Mount Pleasant',
 'Mount Vernon',
 'Murfreesboro',
 'Murray',
 'Murrieta',
 'Muskogee',
 'Naperville',
 'Nashua',
 'Nashville',
 'New Albany',
 'New Bedford',
 'New Brunswick',
 'New Castle',
 'New Rochelle',
 'New York City',
 'Newark',
 'Newport News',
 'Niagara Falls',
 'Noblesville',
 'Norfolk',
 'Normal',
 'Norman',
 'North Charleston',
 'North Las Vegas',
 'North Miami',
 'Norwich',
 'Oak Park',
 'Oakland',
 'Oceanside',
 'Odessa',
 'Oklahoma City',
 'Olathe',
 'Olympia',
 'Omaha',
 'Ontario',
 'Orange',
 'Orem',
 'Orland Park',
 'Orlando',
 'Ormond Beach',
 'Oswego',
 'Overland Park',
 'Owensboro',
 'Oxnard',
 'Palatine',
 'Palm Coast',
 'Park Ridge',
 'Parker',
 'Parma',
 'Pasadena',
 'Pasco',
 'Passaic',
 'Paterson',
 'Pearland',
 'Pembroke Pines',
 'Pensacola',
 'Peoria',
 'Perth Amboy',
 'Pharr',
 'Philadelphia',
 'Phoenix',
 'Pico Rivera',
 'Pine Bluff',
 'Plainfield',
 'Plano',
 'Plantation',
 'Pleasant Grove',
 'Pocatello',
 'Pomona',
 'Pompano Beach',
 'Port Arthur',
 'Port Orange',
 'Port Saint Lucie',
 'Portage',
 'Portland',
 'Providence',
 'Provo',
 'Pueblo',
 'Quincy',
 'Raleigh',
 'Rancho Cucamonga',
 'Rapid City',
 'Reading',
 'Redding',
 'Redlands',
 'Redmond',
 'Redondo Beach',
 'Redwood City',
 'Reno',
 'Renton',
 'Revere',
 'Richardson',
 'Richmond',
 'Rio Rancho',
 'Riverside',
 'Rochester',
 'Rochester Hills',
 'Rock Hill',
 'Rockford',
 'Rockville',
 'Rogers',
 'Rome',
 'Romeoville',
 'Roseville',
 'Roswell',
 'Round Rock',
 'Royal Oak',
 'Sacramento',
 'Saginaw',
 'Saint Charles',
 'Saint Cloud',
 'Saint Louis',
 'Saint Paul',
 'Saint Peters',
 'Saint Petersburg',
 'Salem',
 'Salinas',
 'Salt Lake City',
 'San Angelo',
 'San Antonio',
 'San Bernardino',
 'San Clemente',
 'San Diego',
 'San Francisco',
 'San Gabriel',
 'San Jose',
 'San Luis Obispo',
 'San Marcos',
 'San Mateo',
 'Sandy Springs',
 'Sanford',
 'Santa Ana',
 'Santa Barbara',
 'Santa Clara',
 'Santa Fe',
 'Santa Maria',
 'Scottsdale',
 'Seattle',
 'Sheboygan',
 'Shelton',
 'Sierra Vista',
 'Sioux Falls',
 'Skokie',
 'Smyrna',
 'South Bend',
 'Southaven',
 'Sparks',
 'Spokane',
 'Springdale',
 'Springfield',
 'Sterling Heights',
 'Stockton',
 'Suffolk',
 'Summerville',
 'Sunnyvale',
 'Superior',
 'Tallahassee',
 'Tamarac',
 'Tampa',
 'Taylor',
 'Temecula',
 'Tempe',
 'Texarkana',
 'Texas City',
 'The Colony',
 'Thomasville',
 'Thornton',
 'Thousand Oaks',
 'Tigard',
 'Tinley Park',
 'Toledo',
 'Torrance',
 'Trenton',
 'Troy',
 'Tucson',
 'Tulsa',
 'Tuscaloosa',
 'Twin Falls',
 'Tyler',
 'Urbandale',
 'Utica',
 'Vacaville',
 'Vallejo',
 'Vancouver',
 'Vineland',
 'Virginia Beach',
 'Visalia',
 'Waco',
 'Warner Robins',
 'Warwick',
 'Washington',
 'Waterbury',
 'Waterloo',
 'Watertown',
 'Waukesha',
 'Wausau',
 'Waynesboro',
 'West Allis',
 'West Jordan',
 'West Palm Beach',
 'Westfield',
 'Westland',
 'Westminster',
 'Wheeling',
 'Whittier',
 'Wichita',
 'Wilmington',
 'Wilson',
 'Woodbury',
 'Woodland',
 'Woodstock',
 'Woonsocket',
 'Yonkers',
 'York',
 'Yucaipa',
 'Yuma'}

In [26]:
##•	What is the total quantity sold in the East Region?
east=store[store.Region=='East']
east.Quantity.count()

2848

In [28]:
##•	Find the sum of the quantity sold in the East Region
east.Quantity.sum()

10618

In [34]:
##•	In the south region sort the sales in decreasing order
south=store[store.Region=='South']
south.Sales.sort_values(ascending=False)

2697    22638.480
8488     8749.950
683      7999.980
509      6354.950
4297     4367.896
9639     4297.644
3280     4164.050
7583     3499.930
4093     3080.000
1454     3040.000
5562     2999.950
8312     2939.930
8236     2803.920
994      2715.930
2848     2690.970
4128     2624.985
7474     2573.820
3580     2430.080
5320     2314.116
5300     2275.500
4881     2249.910
1155     2244.480
8699     2239.936
8680     2104.550
5301     1979.700
8993     1875.258
7846     1871.880
1433     1819.860
5185     1801.632
9033     1793.980
          ...
3381        2.896
8850        2.892
865         2.890
3589        2.880
7573        2.840
7805        2.816
2217        2.816
2120        2.808
4155        2.808
4300        2.784
5893        2.780
2665        2.742
506         2.740
3687        2.694
8207        2.624
8579        2.610
4913        2.508
8215        2.469
2779        2.376
4878        2.214
5440        2.064
3769        1.984
7311        1.872
5479        1.869
4005        1.780
8317        1.752
7900        1.584
6597        1.365
9382        1.344
2605        1.167
Name: Sales, Length: 1620, dtype: float64

In [39]:
##•	Find the mean of quantity for every region
store.groupby('Region')['Quantity'].mean()
store.groupby('Region').Quantity.mean()

Region
Central    3.779595
East       3.728230
South      3.832716
West       3.829535
Name: Quantity, dtype: float64

In [46]:
##•Find the mean of sales for every category
store.groupby('Category').Sales.mean()

Category
Furniture          349.834887
Office Supplies    119.324101
Technology         452.709276
Name: Sales, dtype: float64

In [48]:
##•	Find the max, min, sum of sales and profit for every category
store.groupby('Category')[['Sales','Profit']].agg(['max','min','sum'])

                     Sales                        Profit             \
                       max    min          sum       max        min
Category
Furniture         4416.174  1.892  741999.7953  1013.127 -1862.3124
Office Supplies   9892.740  0.444  719047.0320  4946.370 -3701.8928
Technology       22638.480  0.990  836154.0330  8399.976 -6599.9780


                         sum
Category
Furniture         18451.2728
Office Supplies  122490.8008
Technology       145454.9481

In [58]:
##•	Find sum of sales and max profit for every segment
store.groupby('Segment').Sales.sum()
store.groupby('Segment').Profit.max()
## store.groupby('Segment').agg({'Sales':np.sum,'Profit':np.max})

                    Sales     Profit
Segment
Consumer     1.161401e+06  6719.9808
Corporate    7.061464e+05  8399.9760
Home Office  4.296531e+05  3919.9888

In [60]:
##•	For every segment find the mean of the discount
store.groupby('Segment').Discount.mean()

Segment
Consumer       0.158141
Corporate      0.158228
Home Office    0.147128
Name: Discount, dtype: float64

In [70]:
##•	For every segment find the most profitable customers
a=store.groupby('Segment').max().Profit
b=store.Profit
store[['Customer Name','Segment']][np.in1d(b,a)]

     Customer Name      Segment
2623  Tom Ashbrook  Home Office
6826  Tamara Chand    Corporate
8153  Raymond Buch     Consumer

In [78]:
##•	What are the top 5 sub-categories that give maximum profit?
s=store.groupby('Sub-Category').Profit.max()
s.sort_values(ascending=False).head(5)

Sub-Category
Copiers      8399.9760
Binders      4946.3700
Machines     2799.9840
Phones       1228.1787
Bookcases    1013.1270
Name: Profit, dtype: float64

In [81]:
##•	What is the Total Sales, Quantity, Discount, Profit across Total US.
store[['Sales','Quantity','Discount','Profit']].sum()

Sales       2.297201e+06
Quantity    3.787300e+04
Discount    1.561090e+03
Profit      2.863970e+05
dtype: float64

In [42]:
##•	How many times has it taken more than 5 days from placing an order to shipping



store['Order Date'] = pd.to_datetime(store['Order Date'])
#print(ship['Order Date'])
store['Ship Date'] = pd.to_datetime(store['Ship Date'])
#print(store['Ship Date'])
shipping = store['Ship Date']-store['Order Date']
sum(shipping >'5 days')

1822

In [44]:
##•	Find the total number of orders in every category which has been shipped with a duration > 5 days
shipmore5 = store[shipping >'5 days']
ship_order = shipmore5.groupby('Category').count()['Order ID']
print(ship_order)

Category
Furniture           365
Office Supplies    1131
Technology          326
Name: Order ID, dtype: int64

In [47]:
##•	What’s the percentage of items which has been shipped within 5 days.
shipless5 = store[shipping <'5 days']
ship_order1 = shipless5.groupby('Category').count()['Order ID']
ship_order1*100/shipless5.shape[0]

Category
Furniture          21.477405
Office Supplies    59.713190
Technology         18.809405
Name: Order ID, dtype: float64

In [49]:
###•	What’s the percentage of items which has been shipped after 5 days
shipmore5 = store[shipping >'5 days']
ship_order = shipmore5.groupby('Category').count()['Order ID']
ship_order*100/shipmore5.shape[0]

Category
Furniture          20.032931
Office Supplies    62.074643
Technology         17.892426
Name: Order ID, dtype: float64